 <div class="user-details">
  <h1>Essences Expertise</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Marketing</h2>
      <i class="devicon-facebook-plain colored"></i>
      <i class="devicon-twitter-plain colored"></i>
      <i class="fa fa-google-plus-official text-danger" aria-hidden="true"></i>
      <p>The world has come to an era that everything / everybody online, there is no other marketing that could be par with digital marketing.
        </p>
    </div>
    <div class="tech">
      <h2>Data</h2>
      <i class="devicon-atom-original colored text-success"></i>
      <i class="devicon-git-plain"></i>
      <i class="fa fa-database text-primary"></i>
      <p>Data is the central vaulable information of modern world, however without professional analysis it's useless but costs you fortune to keep.
      </p>
    </div>
    <div class="tech">
      <h2>Consulting</h2>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <p>Technology is evloving, so should your way of working. Cloud, microservices, big data, DevOps ... pick your topic. 
      </p>
    </div>
</div>
